## Import required libraries

In [ ]:
import numpy as np
import pandas as pd

## Read Dataset

In [95]:
data=pd.read_csv('https://raw.githubusercontent.com/FrancescoMariottini/project3/main/inputs/all_sales_data.csv',sep=',',dtype='unicode')

## Original Data

In [97]:
data.head(5)

,source,hyperlink,locality,postcode,house_is,property_subtype,price,sale,rooms_number,area,...,open_fire,terrace,terrace_area,garden,garden_area,land_surface,land_plot_surface,facades_number,swimming_pool_has,building_state
0,6,8901695,4180,4180,True,MIXED_USE_BUILDING,295000,NaN,3,242,...,False,True,36,True,1000,1403,1403,0,False,GOOD
1,6,8747010,8730,8730,True,VILLA,675000,NaN,4,349,...,False,False,0,True,977,1526,1526,0,False,AS_NEW
2,6,8775843,4020,4020,True,APARTMENT_BLOCK,250000,NaN,5,303,...,False,False,0,False,0,760,760,0,False,TO_RENOVATE
3,6,8910441,1200,1200,True,HOUSE,545000,NaN,4,235,...,False,False,0,False,0,63,63,0,False,JUST_RENOVATED
4,6,8758672,1190,1190,True,MIXED_USE_BUILDING,500000,NaN,2,220,...,False,False,0,True,60,193,193,0,False,AS_NEW

## Assign selected columns to data_new variable

In [98]:
data_new=data[['open_fire','area','land_surface','land_plot_surface','rooms_number']]

## Functions to process each column for cleaning

In [99]:
def process_open_fire_col():# function to replace open_fire data with 1s and 0s
    dt = data_new['open_fire']
    dt.convert_dtypes()
    dt = dt.str.lower()
    dt = dt.map({'false': 0, 'true': 1, 'nan': -999, '0': -999})
    dt.fillna(-999, inplace=True)
    dt = dt.astype(int)
    return dt


def process_area_col():# function to replace area data with 1s and 0s
    data_area = data_new['area']
    data_area = pd.to_numeric(data_area, errors='coerce')
    data_area.fillna(-999, inplace=True)
    return data_area


def process_land_surf_col():# function to replace land_surface data with 1s and 0s
    data_land_surf = data_new['land_surface']
    data_land_surf = pd.to_numeric(data_land_surf, errors='coerce')
    data_land_surf.fillna(-999, inplace=True)
    return data_land_surf


def process_land_plot_col():# function to replace land_plot_surface data with 1s and 0s
    data_land_plot = data_new['land_plot_surface']
    data_land_plot = pd.to_numeric(data_land_plot, errors='coerce')
    data_land_plot.fillna(-999, inplace=True)
    return data_land_plot

def process_num_rooms_col():# function to replace room_numbers data with 1s and 0s
    data_rmo = data_new['rooms_number']
    data_rmo = pd.to_numeric(data_rmo, errors='coerce')
    data_rmo.fillna(-999, inplace=True)
    data_rmo=data_rmo.astype('Int64')
    return data_rmo

## Calling Functions

In [ ]:
data_new['open_fire']=process_open_fire_col()
data_new['area']=process_area_col()
data_new['land_surface']=process_land_surf_col()
data_new['land_plot_surface']=process_land_plot_col()
data_new['rooms_number']=process_num_rooms_col()